* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.mini-top-header {
  align-items: center;
  gap: 5px;
  display: flex;
  padding: 2px;
  display: flex;
  background-color: #ccdfef;
  justify-content: right;
}
body {
  min-height: 1000vh;
}

.navbar {
  top: 0;
  z-index: 9999;
  position: sticky;
  backdrop-filter: blur(12px);
  transition: 0.3s;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 8px;
}

.navbar img {
  width: 180px;
}

.navbar,
.navbar-left,
.navbar-right {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.navbar-left,
.navbar-right {
  margin: 0 2rem;
  color: #0060ae;
  font-weight: 500;
}

.navbar-middle {
  top: 5px;
  position: sticky;
  display: flex;
  align-items: center;
}

.navbar-middle input {
  border-radius: 20px;
  padding: 15px;
  background-color: #f5f5f5;
  border: 0;
}

.navbar-middle input::placeholder {
  font-size: 15px;
}

.navbar-middle i {
  position: relative;
  right: 26px;
}

.navbar-middle :focus {
  outline: none;
}

.navbar-right i {
  font-size: 34px;
}

swiper-container {
  margin-top: 2rem;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  border-radius: 11px;
  display: block;
  width: 70%;
  height: 340px;
  object-fit: cover;
}

.title-card {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.wrapper-card {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.card {
  width: 158px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 16px;
}

.wrapper-card >.card > .deskripsi-card {
  margin-top: 72px;
}

.card-price {
  color: #0060ae;
}

.card img {
  width: 124px;
  object-fit: cover;
}

.card p {
  margin: 1px;
}

.card small {
  color: #888;
}
